table {
  line-height: 45px;
}
#register #sub-div-1 {
  margin-left: 40px;
  float: left;
}
#register #sub-div-2 {
  float: right;
  height: 150px;
  width: 210px;
  padding: 20px;
  align-content: center;
  text-align: center;
  line-height: 10px;
  margin-right: 60px;
  margin-top: 110px;
}
.err-message {
  color: red;
  display: none;
}
